.ipynb_checkpoints
.gitignore
eat_tensorflow2_in_30_days-master
答辩.pptx
论文.pdf
01.实验成果/NULL.md
02.PINNs学习记录/.vscode
02.PINNs学习记录/test.py
02.PINNs学习记录/test.ipynb
02.PINNs学习记录/myPINN.py
02.PINNs学习记录/0717_Parabolic耦合pde模型_zhu.ipynb
04.论文资料/神经网络数值求解微分方程.pptx